<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Security with Spring Boot</title>
</head>
<body>
<h1>Hello, This is Home page!</h1>
<a style="color: blue" th:href="@{/user}">User Page</a>
<br/>
<a style="color: blue" th:href="@{/admin}">Admin Page</a>
</body>
</html>