<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Welcome Security with Spring Boot!</title>
</head>
<body>
<h1>Hello, the page is for Users!</h1>
<a style="color: blue" th:href="@{/}">Home</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>